
@model Catogery 
<div class="content-wrapper">
    <div class="card">
           <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Basic form layout </p>
                    <form class="forms-sample" method="post" asp-controller="Catogery"  asp-action="Create">
                      <div class="form-group">
                        <label asp-for="Name" >فئة الرحلة </label>
                        <input type="text" class="form-control"  asp-for="Name" placeholder="Name">
                      </div> 
                     <button type="submit" class="btn btn-gradient-primary btn-icon-text"> 
                          <i class="mdi mdi-file-check btn-icon-prepend"></i>
                          حفظ
                      </button>
                      <button class="btn btn-light">الغاء</button>
                    </form>
                  </div>
     </div>
</div>